<!-- Base template to inherit from -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/python.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- animation for ra ra rasputin -->
    <style>
    video {
        width: 100px;
        height: 100px;
        position: relative;
        animation-name: ra-ra-rasputin;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
    @keyframes ra-ra-rasputin {
      0%   { left:-200px; }
      50%  { left:200px; }
      100% { left:-200px; }
    }
    </style>
  </head>
<body>
  <!-- Nav bar -->
  <div class="container" id="navbar">
    <div class="header clearfix">
      <div class="row">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/blog/">Blog</a></li>
            <li role="presentation"><a href="/projects/">Projects</a></li>
            <li role="presentation"><a href="/pfn/">PFN</a></li>
            <li role="presentation"><a href="/setup/">Setup</a></li>
            <li role="presentation"><a href="/login/">Login</a></li>
            <li role="presentation"><a href="/signup/">Sign-up</a><li>
          </ul>
        </nav>
      </div>
    </div>
    <br>
    <!-- Body section -->
    {% block body %}
    {% endblock %}
    <!-- Footer section -->
    <footer class="footer">
      <p>
        7/21/2017 <a href="https://github.com/OGLinuk/">OGLinuk</a>
      </p>
    </footer>
  </div>
  <br>
</body>
</html>
