{% extends 'linueLayout.html' %}
{% block title %}Projects{% endblock %}
{% block body %}
<div class='jumbotron'>
  <h1>
    print('Hello World!')
  </h1>
  <h2>
    It's that easy!
  </h2>
  <p>
    This page is still under construction
  </p>
</div>
<ul class='nav nav-tabs'>
  <li class='active'>
    <a data-toggle='tab' href='#newProjects'>
      Latest Projects
    </a>
  </li>
  <li>
    <a data-toggle='tab' href='#beginner'>
      Beginner
    </a>
  </li>
  <li>
    <a data-toggle='tab' href='#intermediate'>
      Intermediate
    </a>
  </li>
  <li>
    <a data-toggle='tab' href='#advanced'>
      Advanced
    </a>
  </li>
</ul>
<div class='tab-content'>
  <div id='newProjects' class='tab-pane fade in active'>
    <div class='row'>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordLatestProjects1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordLatestProjects1" href="#latestProjectsCollapse1">
                The Almighty Hello World!
                </a>
              </h4>
            </div>
            <div id="latestProjectsCollapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                Though it may look rather simple, it is one of the most powerful things ever done in computer science.
                The hello world statement in Python is print('Hello World!'). Give it a try!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordLatestProjects1" href="#latestProjectsCollapse2">
                  Simple Math
                </a>
              </h4>
            </div>
            <div id="latestProjectsCollapse2" class="panel-collapse collapse">
              <div class="panel-body">
                a = 2<br>
                b = 3<br>
                print(a + b)<br><br>
                Try replacing the + with other mathematical operators (-, *, /, %, **, //)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordLatestProjects1" href="#latestProjectsCollapse3">
                  String Concatination
                </a>
              </h4>
            </div>
            <div id="latestProjectsCollapse3" class="panel-collapse collapse">
              <div class="panel-body">
                String concatination is something that you will find yourself using a lot during any kind of programming.
                There are multiple ways of preforming string concatination, below are only some of the ways.<br><br>
                print('Hello' + 'World' + '!')<br>
                print('%s' % 'Hello World!')<br>
                print('{0}'.format('Hello World!'))
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordLatestProjects2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordLatestProjects2" href="#latestProjectsCollapse4">
                The Almighty Hello World!
                </a>
              </h4>
            </div>
            <div id="latestProjectsCollapse4" class="panel-collapse collapse in">
              <div class="panel-body">
                Though it may look rather simple, it is one of the most powerful things ever done in computer science.
                The hello world statement in Python is print('Hello World!'). Give it a try!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordLatestProjects2" href="#latestProjectsCollapse5">
                  Simple Math
                </a>
              </h4>
            </div>
            <div id="latestProjectsCollapse5" class="panel-collapse collapse">
              <div class="panel-body">
                a = 2<br>
                b = 3<br>
                print(a + b)<br><br>
                Try replacing the + with other simple mathematical operators (-, *, /)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordLatestProjects2" href="#latestProjectsCollapse6">
                  String Concatination
                </a>
              </h4>
            </div>
            <div id="latestProjectsCollapse6" class="panel-collapse collapse">
              <div class="panel-body">
                String concatination is something that you will find yourself using a lot during any kind of programming.
                There are multiple ways of preforming string concatination, below are only some of the ways.<br><br>
                print('Hello' + 'World' + '!')<br>
                print('%s' % 'Hello World!')<br>
                print('{0}'.format('Hello World!'))
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='beginner' class='tab-pane fade'>
    <div class='row'>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordBeginner1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordBeginner1" href="#beginnerCollapse1">
                  The Fibonacci Sequence
                </a>
              </h4>
            </div>
            <div id="beginnerCollapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                fibIteration = 7<br>
                a, b = 0, 1<br>
                for i in range(fibIteration):<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print(a)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a, b = b, a+b
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordBeginner1" href="#beginnerCollapse2">
                  Lists, Tuples, Dictionaries
                </a>
              </h4>
            </div>
            <div id="beginnerCollapse2" class="panel-collapse collapse">
              <div class="panel-body">
                listExample = ['Apples', 'Oranges', 'Bananas']<br>
                tupleExample = ('Carrot', 'Broccoli', 'Potatoes')<br>
                dictExample = {'1':'A', '2':'B', '3':'C'}<br><br>
                print(listExample)<br>
                print(tupleExample)<br>
                print(dictExample)<br><br>
                print(listExample[0])<br>
                print(tupleExample[1])<br>
                print(dictExample['3'])<br>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordBeginner1" href="#beginnerCollapse3">
                  Conditional, Comparison, and Logical Operators
                </a>
              </h4>
            </div>
            <div id="beginnerCollapse3" class="panel-collapse collapse">
              <div class="panel-body">
                Conditional operators: if, elif, else<br>
                Comparison operators: ==, !=, >, >=, <=<br>
                Logical operators: and, or, not<br><br>
                age = 13<br><br>

                if (age < 1):<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print('You are not old enough to learn programming')<br>
                else:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print('You are old enough to learn programming!')<br><br>

                if ((age != 0) and (age <= 18)):<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print('Learn programming while you are still young!')<br>
                elif ((age == 19) or (age >= 20) and not (age > 99)):<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print('You are never to old to start programming!')<br>
                else:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print('Your age seems to be out of range')<br><br>
                Try changing the age variable and see what you can get!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordBeginner2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordBeginner2" href="#beginnerCollapse4">
                  Loops
                </a>
              </h4>
            </div>
            <div id="beginnerCollapse4" class="panel-collapse collapse in">
              <div class="panel-body">
                newList = [1,2,3,4,5,6,7,8,9,10,11,12,13]<br>
                i = 0<br><br>

                for n in newList:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print(n)<br><br>

                while i < len(newList):<br>
                &nbsp;&nbsp;&nbsp;&nbsp;if i == 7:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break<br>
                &nbsp;&nbsp;&nbsp;&nbsp;else:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i += 1<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print(i)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordBeginner2" href="#beginnerCollapse5">
                  Simple Math
                </a>
              </h4>
            </div>
            <div id="beginnerCollapse5" class="panel-collapse collapse">
              <div class="panel-body">
                a = 2<br>
                b = 3<br>
                print(a + b)<br><br>
                Try replacing the + with other simple mathematical operators (-, *, /, %, **, //)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordBeginner2" href="#beginnerCollapse6">
                  String Concatination
                </a>
              </h4>
            </div>
            <div id="beginnerCollapse6" class="panel-collapse collapse">
              <div class="panel-body">
                String concatination is something that you will find yourself using a lot during any kind of programming.
                There are multiple ways of preforming string concatination, below are only some of the ways.<br><br>
                print('Hello' + 'World' + '!')<br>
                print('%s' % 'Hello World!')<br>
                print('{0}'.format('Hello World!'))
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='intermediate' class='tab-pane fade'>
    <div class='row'>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordIntermediate1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordIntermediate1" href="#intermediateCollapse1">
                The Almighty Hello World!
                </a>
              </h4>
            </div>
            <div id="intermediateCollapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                Though it may look rather simple, it is one of the most powerful things ever done in computer science.
                The hello world statement in Python is print('Hello World!'). Give it a try!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordIntermediate1" href="#intermediateCollapse2">
                  Simple Math
                </a>
              </h4>
            </div>
            <div id="intermediateCollapse2" class="panel-collapse collapse">
              <div class="panel-body">
                a = 2<br>
                b = 3<br>
                print(a + b)<br><br>
                Try replacing the + with other simple mathematical operators (-, *, /)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordIntermediate1" href="#intermediateCollapse3">
                  String Concatination
                </a>
              </h4>
            </div>
            <div id="intermediateCollapse3" class="panel-collapse collapse">
              <div class="panel-body">
                String concatination is something that you will find yourself using a lot during any kind of programming.
                There are multiple ways of preforming string concatination, below are only some of the ways.<br><br>
                print('Hello' + 'World' + '!')<br>
                print('%s' % 'Hello World!')<br>
                print('{0}'.format('Hello World!'))
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordIntermediate2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordIntermediate2" href="#intermediateCollapse4">
                The Almighty Hello World!
                </a>
              </h4>
            </div>
            <div id="intermediateCollapse4" class="panel-collapse collapse in">
              <div class="panel-body">
                Though it may look rather simple, it is one of the most powerful things ever done in computer science.
                The hello world statement in Python is print('Hello World!'). Give it a try!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordIntermediate2" href="#intermediateCollapse5">
                  Simple Math
                </a>
              </h4>
            </div>
            <div id="intermediateCollapse5" class="panel-collapse collapse">
              <div class="panel-body">
                a = 2<br>
                b = 3<br>
                print(a + b)<br><br>
                Try replacing the + with other simple mathematical operators (-, *, /)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordIntermediate2" href="#intermediateCollapse6">
                  String Concatination
                </a>
              </h4>
            </div>
            <div id="intermediateCollapse6" class="panel-collapse collapse">
              <div class="panel-body">
                String concatination is something that you will find yourself using a lot during any kind of programming.
                There are multiple ways of preforming string concatination, below are only some of the ways.<br><br>
                print('Hello' + 'World' + '!')<br>
                print('%s' % 'Hello World!')<br>
                print('{0}'.format('Hello World!'))
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='advanced' class='tab-pane fade'>
    <div class='row'>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordAdvanced1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordAdvanced1" href="#advancedCollapse1">
                The Almighty Hello World!
                </a>
              </h4>
            </div>
            <div id="advancedCollapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                Though it may look rather simple, it is one of the most powerful things ever done in computer science.
                The hello world statement in Python is print('Hello World!'). Give it a try!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordAdvanced1" href="#advancedCollapse2">
                  Simple Math
                </a>
              </h4>
            </div>
            <div id="advancedCollapse2" class="panel-collapse collapse">
              <div class="panel-body">
                a = 2<br>
                b = 3<br>
                print(a + b)<br><br>
                Try replacing the + with other simple mathematical operators (-, *, /)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordAdvanced1" href="#advancedCollapse3">
                  String Concatination
                </a>
              </h4>
            </div>
            <div id="advancedCollapse3" class="panel-collapse collapse">
              <div class="panel-body">
                String concatination is something that you will find yourself using a lot during any kind of programming.
                There are multiple ways of preforming string concatination, below are only some of the ways.<br><br>
                print('Hello' + 'World' + '!')<br>
                print('%s' % 'Hello World!')<br>
                print('{0}'.format('Hello World!'))
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-6' style='margin: 0px; padding: 0px'>
        <div class="panel-group" id="accordAdvanced2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordAdvanced2" href="#advancedCollapse4">
                The Almighty Hello World!
                </a>
              </h4>
            </div>
            <div id="advancedCollapse4" class="panel-collapse collapse in">
              <div class="panel-body">
                Though it may look rather simple, it is one of the most powerful things ever done in computer science.
                The hello world statement in Python is print('Hello World!'). Give it a try!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordAdvanced2" href="#advancedCollapse5">
                  Simple Math
                </a>
              </h4>
            </div>
            <div id="advancedCollapse5" class="panel-collapse collapse">
              <div class="panel-body">
                a = 2<br>
                b = 3<br>
                print(a + b)<br><br>
                Try replacing the + with other simple mathematical operators (-, *, /)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordAdvanced2" href="#advancedCollapse6">
                  String Concatination
                </a>
              </h4>
            </div>
            <div id="advancedCollapse6" class="panel-collapse collapse">
              <div class="panel-body">
                String concatination is something that you will find yourself using a lot during any kind of programming.
                There are multiple ways of preforming string concatination, below are only some of the ways.<br><br>
                print('Hello' + 'World' + '!')<br>
                print('%s' % 'Hello World!')<br>
                print('{0}'.format('Hello World!'))
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
